@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  /* body {
    @apply bg-background text-foreground;
  } */
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@layer utilities {
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-slide-in {
    animation: slideIn 1s ease-in-out forwards;
  }
}


@keyframes enterFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-enter-from-left {
  animation: enterFromLeft 1s ease-in-out forwards;
}

.animate-exit-to-right {
  animation: exitToRight 1s ease-in-out forwards;
}


